*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

body {
  font-family: cursive;
  background-color: bisque;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  border-radius: 999px;
  border: 0;
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.technology {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.logo {
  display: flex;
  gap: 2rem;
}

.logo-image {
  width: 40px;
  height: 40px;
}

.technology-title {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
}

.navbar-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
}

.item {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
  color: #000;

  &:hover {
    color: chocolate;
  }
}

.phone {
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  border: 1px solid green;
  border-radius: 999px;
  width: 200px;
  height: 44px;

  &:hover {
    background-color: greenyellow;
    color: chocolate;
  }
}

.main-body {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main-container {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.main-image {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}

.main-context {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-text {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
}
.main-description {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  margin-top: 5rem;
}

.span-text {
  color: chocolate;
}

.products-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  max-width: 1200px;
}

.products-title {
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  margin-bottom: 4rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.products-image {
  width: 350px;
  height: 300px;
  border-radius: 20px;
}
.products-text {
  margin-top: 3rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
}

.choice-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  max-width: 1200px;
}

.choice-title {
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  margin-bottom: 3rem;
}
.choice-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.choice-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choice-image {
  border-radius: 50%;
  background-color: transparent;
}
.choice-text {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.choice-description {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
}

.text-container {
  padding-top: 5rem;
}

.card-text {
  text-align: center;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
}

.technology-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.technology-card-body {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.technology-card-image {
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  height: 200px;
}

.technology-card-title {
  color: #c7380f;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1rem;
}

.technology-card-price {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 900;
}

.technology-card-stock {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  color: #c7380f;
}

.buttons-wrapper {
  justify-self: center;
  align-self: center;
  margin-top: -22.8px;
}

.add-to-card-btn-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
}

.add-to-card-btn {
  border: 2px solid chocolate;
  padding: 1.2rem 2.8rem;
  transition: 0.3s;
  background-color: darksalmon;

  &:hover {
    border-color: #000;
  }
}

.amount-title {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
}

.wrapper {
  background-color: transparent;
  overflow: visible;
}

.amount-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-top: 0;
  cursor: pointer;
  padding: 1.2rem 2.8rem;
  gap: 2.5rem;
  background-color: burlywood;
  border-radius: 999px;
  width: 100%;
  max-width: 160px;
  height: auto;
  border: 1px solid chocolate;
}

.decrement {
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  background-color: chocolate;
  color: #000;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }
}

.increment {
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  background-color: chocolate;
  color: #000;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }
}

.location-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-image: url("https://www.netstate.com/states/geography/mapcom/images/ny.gif");
}

.information {
  padding: 2.4rem 1.2rem;
  width: 300px;
  height: 300px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-phone {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  color: #c7380f;
  margin-bottom: 1rem;
}
.contact-email {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  color: #c7380f;
  margin-bottom: 1rem;
}
.contact-address {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 500;
  color: #c7380f;
}

.contact-span {
  color: #000;
}
